.event-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.event-modal {
  background: white;
  padding: 30px 30px 40px 30px;
  border-radius: 20px;
  height: 355px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 45%;
}

.modal-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.event-modal h3 {
  margin: 0;
  /* font-size: 24px; */
  color: #333;
}

.event-modal-date-wrapper {
  display: flex;
  margin: 0;
  width: 10%;
}
.date-start-wrapper,
.date-end-wrapper {
  display: flex;
  flex-direction: column;
}

.event-modal input[type="text"],
.event-modal input[type="datetime-local"],
.event-modal textarea {
  padding: 13px 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 16px;
}
.event-modal input[type="text"] {
  width: 93%;
}
.event-modal input[type="datetime-local"] {
  width: 55%;
}
.event-modal textarea {
  width: 93%;
  height: 100px;
  resize: vertical;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
}

.modal-buttons button {
  border: none;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 43px;
  transition: 0.2s;
}

.modal-buttons button:first-child {
  background-color: #4caf50;
  color: white;
  margin-bottom: 5px;
}

.modal-buttons button:last-of-type {
  background-color: #ececec;
  color: rgb(58, 58, 58);
}

.modal-buttons button:last-of-type:hover {
  background-color: #e74c3c;
  color: white;
}
