.event-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.event-modal {
  background: white;
  padding: 34px 47px 32px 47px;
  border-radius: 27px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 45%;
}

.event-modal button {
  transition: 0.2s;
}

.event-modal button:hover {
  transform: scale(1.02);
}

.modal-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.event-modal h3 {
  margin: 0;
  font-size: 23px;
  color: #333;
}

.event-modal-date-wrapper {
  display: flex;
  margin: 0;
  width: 10%;
}

.modal-header-wrapper button {
  background-color: #ff6a6a;
  color: white;
  padding: 8px 12px;
  border: none;
  font-size: 12px;
  border-radius: 9px;
}

.date-start-wrapper,
.date-end-wrapper {
  display: flex;
  flex-direction: column;
  width: 153px;
}

.date-letter {
  width: auto;
  margin: 4px 5px 0px 6px;
  font-size: 13px;
  color: rgb(58, 58, 58);
}
.date-start-wrapper {
  margin-right: 8px;
}
.event-modal input[type="text"],
.event-modal input[type="datetime-local"],
.event-modal textarea {
  padding: 13px 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 13px;
}
.event-modal input[type="text"] {
  width: 93%;
  margin-bottom: 11px;
  outline: none;
  font-size: 15px;
}
.event-modal input[type="datetime-local"] {
  width: 84%;
  font-size: 13.5px;
  color: #b1b1b1;
}

.event-modal input[type="datetime-local"]:focus {
  width: 84%;
  font-size: 13.5px;
  color: #000000;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 70%;
}

.event-modal textarea {
  width: 93%;
  height: 120px;
  resize: none;
  outline: none;
}
.event-modal textarea::placeholder {
  color: rgb(196, 196, 196);
}

.modal-buttons {
  display: flex;
  flex-direction: column;
}

.modal-buttons button {
  border: none;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 43px;
}

.modal-buttons button:first-child {
  background-color: #003cff;
  color: white;
  margin-bottom: 5px;
}

.modal-buttons button:last-of-type {
  background-color: #ececec;
  color: rgb(58, 58, 58);
}

.modal-buttons button:last-of-type:hover {
  background-color: #e74c3c;
  color: white;
}
