.navigation-with-dropdown {
  display: flex;
  align-items: center;
}

.navigation-with-dropdown button {
  background: none;
  border: 1px solid #ddd;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 11px;
  color: gray;
}

.navigation-with-dropdown .dropdown {
  position: relative;
  cursor: pointer;
}

.navigation-with-dropdown .dropdown span {
  display: inline-block;
}

.navigation-with-dropdown .year {
  padding: 5px 10px;
}

.navigation-with-dropdown .dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.navigation-with-dropdown .dropdown:hover .dropdown-content,
.navigation-with-dropdown .dropdown-content:hover {
  display: block;
}

.navigation-with-dropdown .dropdown-content div {
  padding: 10px;
  cursor: pointer;
}

.navigation-with-dropdown .dropdown-content div:hover {
  background-color: #ddd;
}
