.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #fbfbfb;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  transition: width 0.3s ease, visibility 0.3s, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebar.hidden {
  width: 0;
  visibility: hidden;
  opacity: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.home-text {
  font-size: 24px;
  font-weight: bold;
}

.hamburger-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-input {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  background-image: url(../components/img/icon\ _search.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 7px center;
}

input[type="text"] {
  padding-left: 30px;
}

.search-input::placeholder {
  position: absolute;
  left: 30px;
}

.menu {
  margin-bottom: 20px;
  flex-grow: 1;
}

.menu-container {
  margin-bottom: 50px;
}

.menu-item {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

.submenu {
  margin-bottom: 10px;
}

.submenu-item {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 7px 9px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.badge {
  background-color: #1530fa;
  color: white;
  padding: 2px 10px;
  border-radius: 6px;
  margin-left: 90px;
}
.submenu-item:hover {
  transform: scale(1.05);
}
