.SignUpForm-signUp-form a {
  text-decoration: none;
  color: #003cff;
  font-weight: bold;
  padding: 3px;
}

.SignUpPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003cff;
  height: 100vh;
}

.SignUpPage-white-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 1600px;
  background-color: white;
  border-radius: 50px;
}

.SignUpPage-signUp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(240, 240, 240);
  height: 60%;
  width: 25%;
  border-radius: 100px;
  padding: 50px;
}
