.SignUpForm-signUp-form a {
  text-decoration: none;
  color: #003cff;
  font-weight: bold;
  padding: 0 3px;
}

.SignUpPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003cff;
  height: 100vh;
}

.SignUpPage-white-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 764px;
  width: 1250px;
  background-color: white;
  border-radius: 50px;
}

.SignUpPage-signUp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 5px 2px 1px lightgray;
  height: 430px;
  width: 250px;
  border-radius: 50px;
  padding: 40px;
  justify-content: center;
}
