.SignUpForm-signUp-form {
  display: flex;
  flex-direction: column;
}
.SignUpForm-sign-up-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}
.SignUpForm-sign-up-logo {
  font-size: 32px;
  font-weight: 1000;
  text-align: center;
}

.SignUpForm-encouraging-create-account-words {
  text-align: center;
  font-size: 14px;
  color: rgb(180, 180, 180);
  padding: 15px 0 0 0;
}

.SignUpForm-signUp-form .SignUpForm-input {
  padding: 10px;
}
.SignUpForm-input {
  width: 250px;
  box-sizing: border-box;
}
.SignUpForm-signUp-form ::placeholder {
  font-size: 12px;
  color: #ccc;
}

.SignUpForm-signUp-box-item {
  padding: 10px;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 15px;
  background-color: white;
  margin-bottom: 5px;
}

.SignUpForm-checkbox-span {
  display: flex;
  align-items: center;
  font-size: 11px;
  margin-top: 5px;
  white-space: nowrap;
  justify-content: center;
}

.SignUpForm-create-account-button {
  color: white;
  font-size: 15px;
  padding: 12px;
  border-radius: 15px;
  border: none;
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
}
.SignUpForm-create-account-button:hover {
  transform: scale(1.02);
}

.SignUpForm-word-item {
  font-size: 11px;
  margin: 1px;
}
.SignUpForm-member {
  margin-top: 5px;
}
