.theme-modal {
  position: fixed;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
  z-index: 100;
}
/* 
.color-swatch {
  width: 24px;
  height: 24px;
  margin: 6px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s ease-in, border-color 0.2s ease-in;
} */

/* .color-swatch:hover {
  transform: scale(1.2);
} */

.color-swatch.selected {
  border-color: rgb(207, 207, 207);
}
