.view-mode-buttons {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.view-mode-buttons .view-mode-button {
  background-color: white;
  border: none;
  padding: 4px 15px;
  cursor: pointer;
  margin: 0;
}

.view-mode-buttons .view-mode-button.active {
  background-color: inherit;
  color: white;
}

.view-mode-buttons .view-mode-button:not(.active):hover {
  background-color: #f0f0f0;
}

.view-mode-buttons .view-mode-button:first-child {
  border-right: 1px solid #ddd;
}

.view-mode-buttons .view-mode-button:nth-child(2) {
  border-right: 1px solid #ddd;
}
